<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- Espacios Versatiles</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 20px;
        }

        h1 {
            color: gold;
        }

        img {
            max-width: 75%;
            height: auto;
            margin-right: 20px;
            margin-top: 20px;
        }

    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('base') }}">Home</a>
        <a href="{{ url_for('cliente') }}">Cliente</a >
        <a href="{{ url_for('propiedad') }}">Propiedad</a >
        <a href="{{ url_for('compraventa') }}">Compra/Venta</a >
        <a href="{{ url_for('servicio') }}">Servicio</a >
        <a href="#">Mas informaacion</a>
    </nav>
    <hr>

    <h2> Ultimas novedades !!!</h2>
    <img src="https://img.freepik.com/fotos-premium/propietario-desbloquea-llave-casa-nuevo-hogar-agentes-inmobiliarios-agentes-ventas_112699-358.jpg"> 
    <p> No te pierdas las ultimas novedades </p>
    
    <hr>
    
    <h2> Ultimas propiedades en venta</h2>
    
</body>
</html>
