{% extends 'cliente.html' %}

{% block content %}
    <h1>{% block title %} Clientes {% endblock %}</h1>
    {% for cliente in clientes %}
        <div class='cliente'>
            <h3>#{{ cliente[2] }}, {{ cliente[3] }} </h3>
            <i><p>(Telefono: {{ cliente[4] }})</p></i>
            <i><p>(DNI : {{ cliente[0] }} )</p></i>
            <i><p>(Cuenta Bancaria: {{ cliente[2] }})</p></i>            
            <i><p>(Direccion: {{ cliente[5] }} pages)</p></i>
        </div>
    {% endfor %}
{% endblock %}
